body {
    background: #111;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;

}

header.on {
    background: #151515;
    border-bottom: 1px solid #333;
}

.header .top_bars {
    display: flex;
    line-height: 80px;
    color: #fff;
}

.header .gnb {
    margin: 0 0 0 60px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .service {
    margin-left: auto;
}

.header .service>ul {
    display: flex;
    gap: 40px;
}

.itm {
    position: relative;
    height: 100vh;
}

.itm01 {
    background: url(../images/genesis-kr-main-hero-gv80-230510-2560x900.jpg) no-repeat center center/cover;
}

.itm02 {
    background: url(../images/genesis-kr-main-key-visual-g80-23my-01-desktop-2560x900.jpg) no-repeat center center/cover;
}

.itm03 {
    background: url(../images/genesis-kr-main-key-visual-gv60-23my-desktop-2560x900.jpg) no-repeat center center/cover;
}

.itm04 {
    background: url(../images/genesis-main-key-visual-g70-23my-desktop-2560x900.jpg) no-repeat center center/cover;
}

.itm05 {
    background: url(../images/genesis-main-keyvisual-electrified-g80-23my-main-hero-desktop-2560x900.jpg) no-repeat center center/cover;
}

.itm06 {
    background: url(../images/genesis-main-keyvisual-electrified-gv70-main-hero-01-desktop-2560x900.jpg) no-repeat center center/cover;
}

.itm07 {
    background: url(../images/genesis-main-keyvisual-g70-shooting-brake-hero-desktop-2560x900.jpg) no-repeat center center/cover;
}

.itm08 {
    background: url(../images/genesis-main-keyvisual-gv80-coupe-concept-main-hero-desktop-2560x900.jpg) no-repeat center center/cover;
}

.mainVisual .slick-dots {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.mainVisual .slick-dots>* {
    display: inline-block;
    margin: 0 6px;
}

.mainVisual .slick-dots li button {
    padding: 3px;
    font-size: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid transparent
}

.mainVisual .slick-dots li.slick-active button {
    border-color: #fff;
    padding: 4px;
    background-color: transparent;
}

.mainVisual .to_bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 30px;
}


.itm .slogan {
    max-width: 1200px;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -200%);
    margin: 0 0 0 -585px;


    color: #fff;
}

/* block 요소는 translate 안 먹혀서 inline-block으로 설정 */
.itm .slogan span {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.8s 0.5s;

}

.mainSlide .slick-active .slogan span {
    transform: translateY(0);
    opacity: 1;
}

.itm .slogan h2 {
    font-size: 70px;
    font-weight: 700;
    margin: 15px 0;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.8s 0.5s;

}

.mainSlide .slick-active .slogan h2 {
    transform: translateY(0);
    opacity: 1;
}


.itm .slogan p {
    font-size: 25px;
    font-weight: 500;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.8s 0.5s;
}

.mainSlide .slick-active .slogan p {
    transform: translateY(0);
    opacity: 1;
}


.service_bar {
    position: absolute;
    display: flex;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service_bar .box {
    flex: 1;
}

.service_bar .box:hover i {
    background: rgb(255, 255, 255, 0.8);
    color: #444;
    transform: translate(0, -10%);
}

.service_bar .box i {
    width: 60px;
    height: 60px;
    margin: 0 30px 20px 30px;
    padding: 15px;

    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 10px;
    display: block;
    font-size: 30px;
    transition: 0.5s;
}

.service_bar .box span {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;

}

.mainContent {
    position: relative;
    padding: 120px 0;
}

.mainContent h2 {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin: 10px 0;
}

.mainContent p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0;
}

.mainContent a {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    width: 300px;
    border-bottom: 1px solid #fff;
    margin: 10px 0;
    line-height: 30px;
    position: relative;
}

.mainContent a::after {
    content: "\e941";
    font-family: xeicon;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 16px;

}


.mainContent .best_model {
    margin: 30px 0;
}

.mainContent .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainContent .slick-dots>* {
    display: inline-block;
    margin: 0 6px;
}

.mainContent .slick-dots li button {
    padding: 4px;
    font-size: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    border: 2px solid #111;
    background: rgba(255, 255, 255, 0.3);



}

.mainContent .slick-dots li.slick-active button {
    background: transparent;
    border: 2px solid #fff;
}

.mainContent .car {
    position: relative;
    background: #151515;
    width: 300px;
    height: 300px;
    margin-right: 30px;
    transition: 0.5s;

}

.mainContent .car:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.mainContent .car figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;

}

.mainContent .car strong {
    position: absolute;
    top: 15%;
    left: 10%;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.mainContent .car button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    background: #111;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
    width: 280px;
    line-height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.mainContent .car button:hover {
    background: #fff;
    color: #111;
}






.fixed {
    position: relative;
    height: 500px;
    background-image: url(../images/section02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.fixed .inner {
    max-width: 1200px;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;

    color: #fff;
}

.fixed .inner h3 {
    font-size: 50px;
    font-weight: 400;
}

.fixed .inner p {
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0 20px 0;
}

.fixed .inner .btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 10px 40px;
    transition: 0.5s;
    cursor: pointer;
}

.fixed .inner .btn:hover {
    background: #fff;
    color: #151515;

}

.more_event {
    padding: 120px 0 0 0;
}

.more_event .inner {
    display: flex;
}

.more_event figure {
    position: relative;
    overflow: hidden;
}

.more_event figure img {
    flex: 1;
    height: 450px;

}

.more_event figure .cover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;


    display: flex;
    flex-direction: column;
    /* 아래쪽 방향 배치 */
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 50px 30px;
    transition: 0.5s;

}

.more_event figure:hover .cover {
    visibility: visible;
    top: 0;
}

.more_event figure .cover h3 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}

.more_event figure .cover p {
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 15px;
}

.more_event figure .cover span {
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
}

.awards {
    padding: 150px 0;
    position: relative;
}

.awards h2 {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin: 0 0 40px 0;
}

.awards_content .con {
    position: relative;
}

.awards_content .con .text {
    position: absolute;
    bottom: 120px;
    left: 50px;
    color: rgba(255, 255, 255, 0.8);
    width: 300px;
    height: 200px;
}

.awards_content .con .text strong {
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    margin: 0 0 20px 0;
}

.awards_content .con .text p {
    font-size: 17px;
    font-weight: 100;
}

.awards .dots {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(255, 255, 255, 0.7);
    user-select: none;
    display: flex;
    width: 1170px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);

}

.awards .dots li {
    position: relative;
    flex: 1;
    padding: 10px 15px
}

.awards .dots li::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
}

.awards .dots li.on::after {
    width: 100%;
    transition: 3s;
}

.awards .dots li.on {
    color: #fff;
}


.awards .dots li {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.footer {
    background: #444;
    color: #fff;
    text-align: center;
}

.footer .top {
    line-height: 40px;
    border-bottom: 1px solid #555;
}

.footer address {
    line-height: 40px;
}

.footer .top strong {
    font-size: 30px;
    font-weight: 500;
    color: #5ad3c0;
}